# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [3]:
import pandas as pd  # 'pd' is an alias for pandas

In [4]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_customer = pd.read_csv(url)

In [5]:
insurance_customer

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
insurance_customer.shape #4008rows and 11coloumns

(4008, 11)

In [7]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
insurance_customer.info() #here we can see more detail information about rows and coloumns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [9]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
insurance_customer.dtypes

#Customer: Since this column likely contains customer names or identifiers, the object data type (which typically represents strings) is appropriate.
#ST: the object data type is for city suitable.
#GENDER: Given that gender is typically categorical data (such as "Male", "Female", or "Other"), the object data type is appropriate. However, if the data is binary (e.g., "M" and "F"), converting it to a categorical data type (e.g., category) might be more efficient in terms of memory usage.
#Education: This likely represents categorical data describing the level of education, so the object data type is reasonable. Converting it to a categorical data type could be beneficial if there are a limited number of unique values.
#Customer Lifetime Value: The data type should be numeric (float64 or int64) to represent monetary values accurately. If this column contains numeric data but is currently of type object, it should be converted to a numeric type.
#Income: Since income is a numerical variable, the float64 data type is appropriate.
#Monthly Premium Auto: Similarly, this column contains numerical data represented as floating-point numbers (float64), which is appropriate.
#Number of Open Complaints: Assuming this represents a count of complaints, the object data type may not be ideal. If the data consists of integers, it should be converted to an appropriate integer type (int64). If there are non-integer values or missing values represented as strings, they should be cleaned or imputed accordingly.
#Policy Type: This likely represents categorical data and is appropriately stored as object. Converting it to a categorical data type could improve memory usage.
#Vehicle Class: Since this column likely contains categorical data describing the vehicle class, the object data type is suitable. Converting it to a categorical data type could be beneficial if there are a limited number of unique values.
#Total Claim Amount: This column contains numerical data represented as floating-point numbers (float64), which is appropriate.

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [10]:
#Identify the number of unique values for each column
insurance_customer.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [11]:
numerical_data = insurance_customer.select_dtypes(include= "float")

In [12]:
numerical_data

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [13]:
categorical_data = insurance_customer.select_dtypes(include="object")

In [14]:
categorical_data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
categorical_data.describe(include="object")

#Oregon appears most frequently with 320 occurrences.
#The most frequent gender is female (F) with 457 occurrences.
#The most common education level is Bachelor's degree, appearing 324 times.
#The majority of customers seem to have either 1 or 0 open complaints, with a specific date (1/0/00) listed as the most common.
#Personal Auto is the most common policy type, appearing 780 times.
#vehicle classes with Four-Door Car being the most common, appearing 576 times.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [16]:
numerical_data.describe(include="float")

#The average income among the customers is approximately $39,296.
#The income varies widely, with a standard deviation of approximately $30,469.
#25th Percentile: 25% of the customers have an income of $14,072 or lower.
#Median (50th Percentile): Half of the customers have an income of $36,234 or lower.
#75th Percentile: 75% of the customers have an income of $64,631 or lower.

#The average monthly premium for auto insurance is approximately $193.23.
#The premiums vary widely, with a standard deviation of approximately $1601.19.
#25% of the customers pay $68 or less per month for auto insurance.
#Half of the customers pay $83 or less per month for auto insurance.
#75% of the customers pay $109.50 or less per month for auto insurance.

#The average total claim amount is approximately $404.99.
# The total claim amounts vary, with a standard deviation of approximately $293.03.
# 25% of the claims are $202.16 or lower.
# Half of the claims are $354.73 or lower.
# 75% of the claims are $532.80 or lower.

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [41]:
location_counts = insurance_customer['ST'].value_counts()
print(location_counts)

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [46]:
less_common_locations = location_counts.sort_values().head(5)

print(less_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [58]:
policy_counts = insurance_customer['Policy Type'].value_counts()
print(policy_counts)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [68]:
policy_counts_df.columns = ['Policy Type', 'Total Policies Sold']
policy_counts_df

      Policy Type  Total Policies Sold
0   Personal Auto                  780
1  Corporate Auto                  234
2    Special Auto                   57

In [70]:
policy_counts_df.iloc[0]

Policy Type            Personal Auto
Total Policies Sold              780
Name: 0, dtype: object

In [72]:
policy_counts_max_df = pd.DataFrame(policy_counts_df, index=[0])
policy_counts_max_df

     Policy Type  Total Policies Sold
0  Personal Auto                  780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [73]:
personal_auto_df = insurance_customer.loc[insurance_customer['Policy Type'] == 'Personal Auto']
avg_income_personal_auto = personal_auto_df['Income'].mean()
print("Average income for Personal Auto policies:", avg_income_personal_auto)

Average income for Personal Auto policies: 38180.69871794872

In [74]:
corporate_auto_df = insurance_customer.loc[insurance_customer['Policy Type'] == 'Corporate Auto']
avg_income_corporate_auto = corporate_auto_df['Income'].mean()
print("Average income for Corporate Auto policies:", avg_income_corporate_auto)

Average income for Corporate Auto policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here